<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Phodal's Daily Practise</title>
  <link rel="stylesheet" href="static/css/clndr.css">
</head>
<body>

<div class="inner">
  <div id="full-clndr" class="clearfix">
    <script type="text/template" id="full-clndr-template">
      <div class="clndr-controls">
        <div class="clndr-previous-button">&lt;</div>
        <div class="clndr-next-button">&gt;</div>
        <div class="current-month"><%= month %> <%= year %></div>

      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week clearfix">
          <% _.each(daysOfTheWeek, function(day) { %>
          <div class="header-day"><%= day %></div>
          <% }); %>
        </div>
        <div class="days">
          <% _.each(days, function(day) { %>
          <div class="<%= day.classes %>" id="<%= day.id %>">
            <img src="images/<%= moment(day.date).format('MMM') + '/' + day.day %>.jpg" alt="" width="100px" height="60">
            <span class="day-number"><%= day.day %></span>
          </div>
          <% }); %>
        </div>
      </div>
      <div class="event-listing">
        <div class="event-listing-title"><%= extras.today.day %> Daily </div>
        <div class="event-item">
          <div class="event-item-location">
            <img src="<%= extras.today.image %>" alt="">
          </div>
        </div>
      </div>
    </script>
  </div>
</div>

<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/moment.min.js"></script>
<script src="static/js/underscore-min.js"></script>
<script src="static/js/clndr.min.js"></script>
<script>
  var calendar;

  $(document).ready(function () {
    var currentMonth = moment().format('YYYY-MM');
    var nextMonth = moment().add('month', 1).format('YYYY-MM');

    var events = [
      {date: currentMonth + '-' + '10'},
      {date: currentMonth + '-' + '19'},
      {date: currentMonth + '-' + '23'},
      {date: nextMonth + '-' + '07'}
    ];

    calendar = $('#full-clndr').clndr({
      template: $('#full-clndr-template').html(),
      events: events,
      forceSixRows: true,
      constraints: {
        endDate: moment().format('YYYY-MM-DD'),
        startDate: '2019-01-01'
      },
      extras: {
        today: {
          day: moment().format('YYYY-MM-DD'),
          image: 'images/' + moment().format('M') + '/' + moment().format('DD') + '.jpg'
        }
      },
      clickEvents: {
        click: function (target) {
          console.log(target);
          console.log(target.element.classList);
          calendar.options.extras = {
            today: {
              day: moment().format('YYYY-MM-DD'),
              image: 'images/' + moment().format('M') + '/' + '18.jpg'
            }
          }
        }
      },
      multiDayEvents: {
        singleDay: 'date',
        endDate: 'endDate',
        startDate: 'startDate'
      },
      showAdjacentMonths: true,
      adjacentDaysChangeMonth: false
    });

    $(document).keydown(function (e) {
      if (e.keyCode === 37) {
        calendar.back();
      }

      if (e.keyCode === 39) {
        calendar.forward();
      }
    });

    $("img").on("error", function () {
      $(this).unbind("error").attr("src", "static/placeholder.png")
        .attr("height", "32px")
        .attr("width", "32px")
    });
  });
</script>
</body>
</html>
